<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties"/>
	<environments default="stage">
		<environment id="stage">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${username}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		  <mapper resource="AddressMapper.xml/>
		  <mapper resource="AdministrativeEmployeeMapper.xml/>
		  <mapper resource="BusinessHourMapper.xml/>
		  <mapper resource="CompanyMapper.xml/>
		  <mapper resource="CustomerMapper.xml/>
		  <mapper resource="DeliveryEmployeeMapper.xml/>
		  <mapper resource="DepartmentMapper.xml/>
		  <mapper resource="EmployeeHourMapper.xml/>
		  <mapper resource="EmployeeMapper.xml/>
		  <mapper resource="EmployeePhoneNumberMapper.xml/>
		  <mapper resource="OrderMapper.xml/>
		  <mapper resource="ProductMapper.xml/>
		  <mapper resource="ShopMapper.xml/>
	</mappers>
</configuration>